@model Amebook.ViewModels.PostViewModel
@{
    ViewBag.Title = "Post";
}

<div class="post-content">
    <div class="post" id=Model.Id>
        <div class="new-new-post-inner">
            <div class="data">@Model.Date</div>
            <div class="user">@Model.Author</div>
            <div class="paragraph">
                @Model.Content
            </div>
            @if (Model.Rated)
            {
                <button id="plus" class="btn btn-default" disabled="true">@Model.Plus</button>
                    <button id="minus" class="btn btn-default" disabled="true">@Model.Minus</button>
            }
            else
            {
                <button id="plus" value="true" class="btn btn-default rate">+</button>
                    <button id="minus" value="false" class="btn btn-default rate">-</button>
            }
        </div>
    </div>
</div>
<script>
    function rating() {
        var id = $(this).parent().parent().attr('id');
        var option = $(this).val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Rating", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { 'orginId': id, 'option': option },
            success: function(result) {
                var plus = "#" + id + " #plus";
                var minus = "#" + id + " #minus";
                $(plus).text(result.Plus);
                $(minus).text(result.Minus);
                $(plus).removeClass("rate").attr("disabled", true);;
                $(minus).removeClass("rate").attr("disabled", true);;
            }
        });
    }

    $(".rate").click(rating);
</script>
@Html.Action("GetComments","Post", new { orginId = Model.Id})
<div class="content">
    <div class="new-post-box">
        <div class="new-post-inner">
            @using (Ajax.BeginForm("AddComment", "Post", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "CommentForm" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Model.Id" name="id" id="id"/>
                <textarea placeholder="Napisz komentarz" id="content" name="content"></textarea>
                <button class="btn btn-default btnSubmitComment">Skomentuj</button>
            }
        </div>
    </div>
</div>
<script>
    $("#btnSubmitComment").click(function () {
        $("#CommentForm").submit();
    });
</script>


